main>section{
    display: flex;
}

#noscript{
    visibility: hidden;
}

#testWindow{
    display: flex;
    height: 65vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 5vw;
    width: 70vw;
}

#test{
    display:none;
    font-size: 2vw;
    /* height: 90%; */
    width: 100%;
}

.register{
    /* width: 20vw; */
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-left: 1px solid #2d5f68;
    border-right: 1px solid #2d5f68;
}

@media screen and (max-width: 600px){
    main>section{
        display: inline-block;
        width: 85vw;
    }
}